# Игнорируемые файлы для Git
# Python
__pycache__/
*.py[cod]
*.so
.Python
*.pyc

# База данных
*.db
*.sqlite3

# Переменные окружения
.env

# Папка с данными
data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
